#add-todo{
  display: flex;
}

#add-todo input[type="text"]{
    flex-basis: 0;
    flex-grow: 7;
    padding: 10px;
    border: 2px solid #00d8ff;
    border-radius: 4px 0 0 4px;
    color: #777;
}

#add-todo input[type="submit"]{
    flex-basis: 0;
    flex-grow: 3;
    padding: 10px;
    background: #00d8ff;
    border-radius: 0 4px 4px 0;
    border: 2px solid #00d8ff;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
